<style>
input {
    margin: 10px;
}
</style>
<!--
    Things Need To change:
        - action controller (!done)
        - hidden input (!done)
        - expected values (!done)
        - submit buttom
-->
<% if action == :edit %>
    <% action_url = cat_url(cat) %>
<% else %>
    <% action_url = cats_url %>
<% end %>

<form action="<%= action_url %>" method="POST">
    <% if action == :edit %>
        <input type="hidden" name="_method" value="PATCH">
    <%end%>
    <label for="cat">Name </label>
    <input type="text" id="cat" name="cats[name]" value="<%= cat.name %>">
    <br>
    <label for="male_cat">Male</label>
    <input type="radio" id="male_cat" name="cats[sex]" value="M"
    <%= "checked" if cat.sex == "M" %>>
    <label for="female_cat">Female</label>
    <input type="radio" id="female_cat" name="cats[sex]" value="F" 
    <%= "checked" if cat.sex == "F" %>> 
    <br>
    <label for="cats_color">Color</label>
    <select name="cats[color]" id="cats_color">
        <option disabled selected>--Click 👽 --</option>
        <% Cat::CATS_COLORS.each do |color| %>
            <option value="<%= color %>"
            <%= "selected" if cat.color == color %>><%= color %></option>
        <% end %>
    </select>
    <br>
    <label for="date_cat">Date</label>
    <input type="date" id="date_cat" name="cats[birth_date]" value="<%= cat.birth_date %>">
    <br>
    <label></label>
    <textarea id="description_area" name="cats[description]">
    <%= cat.description %>
    </textarea>
    <br>
    
    <input type="submit" class="button_logout" value="<%= action == :edit ? "Edit Cat" : "New Cat" %>">
</form>

<% content_for :footer do %>
    <div class="footer">
       This is the new cat page
    </div>
<%end%>