<style>
table, th, td {
    border: 1px solid black;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}
a {
    color: blue;
    margin-top: 20px;
    font-weight: bold;
}
</style>
<h2>This is A table for <mark><%= @cat.name %></mark></h2>
<!-- Making A table for our cats-->
<table>
    <tr><th colspan="2" style="color: red ">Vital</th></tr>
    <tr>
        <th scope="col" >Attributes</th>
        <th scope="col" >Values</th>
    </tr>
    <tr>
        <td><mark>Name</mark></td>   
        <td><%= @cat.name %></td>    
    </tr>
    <tr>
        <td><mark>Color</mark></td>
        <td><%= @cat.color %></td>
    </tr>
    <tr>
        <td><mark>Sex</mark></td>
        <td><%= @cat.sex %></td>
    </tr>
    <tr>
        <td><mark>Birth Date</mark></td>
        <td><%= @cat.birth_date %></td>
    </tr>
    <tr>
        <td><mark>Description</mark></td>
        <td><%= @cat.description %></td>
    </tr>
</table>
<table>
    <tr><th colspan="4">Rental Requests</th></tr>
    <tr>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Status</th>
    </tr>
    <%@cat.cat_rental_requests.each do |cat_rental_request|%>
        <tr>
            <td><mark><%= cat_rental_request.start_date %></mark></td>
            <td><mark><%= cat_rental_request.end_date%></mark></td>
            <td><mark><%= cat_rental_request.status%></mark></td>
        </tr>
    <%end%>
</table>

<%= link_to 'Make New Request' , new_cat_rental_request_url %>

<br>

<%= link_to 'Edit Me', edit_cat_url(@cat) %>