<!DOCTYPE html>
<html>
  <head>
    <title>Cats99</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="main-nav">
    <div> 
    <% if current_user.nil? %>
      <a href="<%= signin_path %>" style="display: inline; justify-content: right">Sign In</a>
      <a href="<%= signup_path %>" style="display: inline; justify-content: right">Sign Up</a>
    <% else %>
      <%= current_user.password %>
      <form action="<%= session_path %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">

        <input type="submit" value="logout">
      </form>
    <% end %>
    </div>
    </nav>
    <%= yield %>
  </body>
</html>