<!DOCTYPE html>
<html>
  <head>
    <title>Cats99</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav class="main-nav">
    <header>
      <a href="<%= cats_path %>">99 Cats</a>
    </header>
    <div class="nav-login">
    <% if current_user.nil? %>
      <%= sign_in_user %>
      <%= sign_up_user %>
    <% else %>
    </div>
    <div>
      <%= current_user.email%>
      <br />
      <form action="<%= session_path(current_user) %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <input class="button_logout" type="submit" value="logout">
      </form>
    <% end %>
    </div>
    </nav>
    <br />
    <% unless current_user.nil?%>
      <div id="already_logged_in">
        <% flash.each do |type,message| %>
          <%= message %>
        <% end %>
      </div>
    <%end%>
    <main>  
      <section class="cat-index-holder">
        <h1>ALL OF THE CATS IN THE WORLD</h1>
        <a href="<%= new_cat_path %>">Add Cat</a>
      </section>
    </main>
    <%= yield %>
  </body>
  <div class="footer">
    Owner: Hassan tarif
    <a href="mailto:hassantarif4@gmail.com">Mail me</a>
    <%= yield :footer %>
  </div>
</html>
